.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: rgb(43, 174, 226);
}
.grid-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px;
  width: max-content;
  margin: auto;
}
.grid-item-1 {
  background-color: red;
}

.grid-item-2 {
  background-color: black;
}
.grid-item-3 {
  background-color: rgb(114, 44, 44);
}
.grid-item-4 {
  background-color: rgb(12, 46, 240);
}
.grid-item-5 {
  background-color: rgb(114, 44, 99);
}
.grid-item-6 {
  background-color: rgb(4, 44, 44);
}
